.image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}


.delete_btn {
    background: #ff6666;
    border-radius: 999px;
    box-shadow: #ff6666 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50px;
    height: 50px;
    border: 0;
}

.actions {
    text-align: right;
    margin-top: 20px;
}