.card {
    padding: 25px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .heading {
        font-size: 1.6em;
        text-align: center;
        margin-bottom: 50px;
    }
}