.card {
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 25px;
    
    .image {
        width: 100%;
        height: 200px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;
    }

    .content {
        padding: 25px;

        .title {
            font-size: 1.3em;
        }

        .description {
            font-size: .9em;
            color: #999;
        }
    }

    .actions {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            .value {
                font-size: 1.4em;
            }

            .currency {
                font-size: .9em;
                color: #888;
                padding-right: 5px;
            }
        }

        .add_btn {
            background: #5e5df0;
            border-radius: 999px;
            box-shadow: #5e5df0 0 10px 20px -10px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            opacity: 1;
            outline: 0 solid transparent;
            padding: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 50px;
            height: 50px;
            border: 0;
        }
    }

}