body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 200px;
  border-radius: 25px;
  padding: 10px 20px;
}

.btn-danger {
  background: #ff6666;
  box-shadow: #ff6666 0 10px 20px -10px;
  border: 0;
}

.btn-success {
  background: #10b51c;
  box-shadow: #10b51c 0 10px 20px -10px;
  border: 0;
}

.leaflet-container {
  width: 100%;
  height: 300px;
}